*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.star {
    padding: 2px;
    margin: 2%;
    width: 150px;
    height: 150px;
    background-color: rgb(228, 226, 232);
    color: rgb(0, 0, 0);
    border: 1px solid black;
    border-radius: 2%;
}
.bg-brwn {
    background-color: brown;
}
.container2 {
    padding: 4px;
    margin: 30px;

}